 
<form method="post" action="/login"  >  
        data1:<br>
        <input type="text" id="data1" name="data1"><br>
        data2:<br>
        <input type="text" id="data2"  name="data2">
        
        <input type="submit" value="Submit">
</form>
 